@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  width: 100%;
  height: 100vh;
  // background: ;
  position: relative;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #253b2f;
}
.body_line {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 225px;
    width: 1px;
    height: 100%;
    background-color: var(--gray);
    z-index: -1;
    @include breakpoint(xl) {
      display: none;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 225px;
    width: 1px;
    height: 100%;
    background-color: var(--gray);
    z-index: -1;
    @include breakpoint(xl) {
      display: none;
    }
  }
  &_one {
    position: absolute;
    top: 0;
    right: 519px;
    width: 1px;
    height: 100%;
    background-color: var(--gray);
    // z-index: -1;
    @include breakpoint(xl) {
      display: none;
    }
  }
}
.mt_52 {
  margin-top: 52px;
}
.mt_54 {
  margin-top: 54px;
}
.px_45 {
  padding: 0 45px;
}
.outlline_text {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--gray);
  font-weight: bold;
  color: transparent;
}
.outlline_text_blue {
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: var(--pra);
  font-weight: bold;
  color: transparent;
}

.container-fluid {
  padding: 0 45px;
  @include breakpoint(md) {
    padding: 0 15px;
  }
}

.slick-dots {
  left: 13% !important;
  bottom: -19px;
  text-align: start !important;
  max-width: 80%;
  @include breakpoint(xxl){
    max-width: 70%;
  }
  @include breakpoint(xl){
    max-width: 60%;
  }
  li {
    width: auto !important;
    height: 0 !important;
    margin: 0 !important;
  }
  .common__dots {
    width: 150px;
    height: 1px;
    background-color: var(--dipGray);
    @include breakpoint(xxl){
      width: 120px;
    }
    @include breakpoint(xl){
      width: 100px;
    }
  }

  .slick-active .common__dots {
    background-color: var(--pra);
    padding: 2px 0;
    margin-top: -2px;
  }
}

.common__nav {
  position: absolute;
  z-index: 100;
  border: none;
  background: transparent;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  width: 50px;
  height: 20px;
}
.prev-arrow {
  left: 81%;
  top: 100%;
  background-image: url("/assets/img/icon/Group\ 35.svg");
  transform: rotate(180deg);

  @include breakpoint(xl){
    left: 81%;
  }
  @include breakpoint(lg){
    left: 78%;
  }
  @include breakpoint(md){
    left: 74%;
  }
  @include breakpoint(sm){
    left: 70%;
  }
  @include breakpoint(xs){
    left: 65%;
  }
  
}
.next-arrow {
  right: 13%;
  top: 100%;
  background-image: url("/assets/img/icon/Group\ 35.svg");
  @include breakpoint(xl){
    right: 10%;
  }
}
