.blogs {
  @include breakpoint(xl) {
    .title {
      margin-bottom: 280px;
    }
  }
  @include breakpoint(xs) {
    .title {
      margin-bottom: 230px;
    }
  }
  &__wapper {
    max-width: 1064px;
    margin: auto;
    .blog {
        img{
            width: 100%;
        }
      &__footer {
        &_author {
          font-size: 13px;
          color: var(--gary);
          margin-top: 24px;
        }
        &_heading {
          font-size: 18px;
          margin-top: 8px;
          transition: all 0.5s;
        }
      }
      &:hover .blog__footer_heading {
        text-decoration: underline;
      }
    }
    .slick-slide {
      margin: 0 10px;
    }
  }
}
