.services {
  &__wapper {
    &_item {
      h1 {
        font-size: 70px;
        margin-bottom: 0;
        line-height: 65px;
      }
      .service__name {
        margin-top: 0;
        color: var(--pra);
        font-size: 25px;
        font-weight: 500;
      }
      p{
        font-size: 15px;
        font-weight: 300;
      }
    }
  }
  .slick-slide {
    margin: 0 10px;
  }
}
